In [1]:
import pandas as pd

In [20]:
countries = pd.read_csv('/content/countries_regions.csv')
countries

     geo         name           World bank region
0    afg  Afghanistan                  South Asia
1    alb      Albania       Europe & Central Asia
2    dza      Algeria  Middle East & North Africa
3    and      Andorra       Europe & Central Asia
4    ago       Angola          Sub-Saharan Africa
..   ...          ...                         ...
192  vnm      Vietnam         East Asia & Pacific
193  yem        Yemen  Middle East & North Africa
194  zmb       Zambia          Sub-Saharan Africa
195  zwe     Zimbabwe          Sub-Saharan Africa
196  ssd  South Sudan          Sub-Saharan Africa

[197 rows x 3 columns]

In [21]:
countries.columns = ['geo','Country','World bank region']

In [22]:
global_development = pd.read_csv('/content/global_development.csv')
global_development

,Country,Year,Data.Health.Birth Rate,Data.Health.Death Rate,Data.Health.Fertility Rate,"Data.Health.Life Expectancy at Birth, Female","Data.Health.Life Expectancy at Birth, Male","Data.Health.Life Expectancy at Birth, Total",Data.Health.Population Growth,Data.Health.Total Population,...,Data.Rural Development.Agricultural Land Percent,Data.Rural Development.Arable Land,Data.Rural Development.Arable Land Percent,Data.Rural Development.Land Area,Data.Rural Development.Rural Population,Data.Rural Development.Rural Population Growth,Data.Rural Development.Surface Area,Data.Urban Development.Population Density,Data.Urban Development.Urban Population Percent,Data.Urban Development.Urban Population Percent Growth
0,Canada,1980,15.400000,7.000000,1.754000,78.590000,71.320000,74.866341,0.997669,24277000.0,...,7.357225,1.827821,4.879744,9093510.0,5918004,0.833712,9984670.0,2.669706,75.623000,1.050578
1,Canada,1981,15.400000,7.100000,1.740000,78.730000,71.600000,75.078049,1.293245,24593000.0,...,7.301471,1.818526,4.918123,9093510.0,5985198,1.129019,9984670.0,2.704456,75.663000,1.346126
2,Canada,1982,15.300000,7.000000,1.700000,79.110000,72.020000,75.478537,1.240595,24900000.0,...,7.245717,1.810120,4.956502,9093510.0,6047712,1.039060,9984670.0,2.738217,75.712000,1.305333
3,Canada,1983,15.100000,7.100000,1.690000,79.230000,72.300000,75.680488,1.205555,25202000.0,...,7.288275,1.789779,4.960241,9093510.0,6080235,0.536333,9984670.0,2.771427,75.874000,1.419293
4,Canada,1984,15.000000,7.000000,1.680000,79.550000,72.690000,76.036341,1.002812,25456000.0,...,7.330943,1.773217,4.963870,9093510.0,6100530,0.333231,9984670.0,2.799359,76.035000,1.214785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6421,Heavily indebted poor countries (HIPC),2009,39.694362,11.568275,5.448853,57.314810,55.042182,56.149510,2.755547,589184942.0,...,40.224998,0.259585,7.742953,19752631.0,404203594,2.132400,20392171.0,29.828175,31.396143,4.144006
6422,Heavily indebted poor countries (HIPC),2010,39.249875,11.239563,5.363884,57.941917,55.580622,56.731231,2.742284,605342064.0,...,40.282701,0.254637,7.803635,19752631.0,412723475,2.107819,20392171.0,30.646149,31.819793,4.128655
6423,Heavily indebted poor countries (HIPC),2011,38.807293,10.936774,5.278963,58.533726,56.080300,57.275881,2.728734,621860240.0,...,40.402744,0.251078,7.904542,19752631.0,421313384,2.081275,20392171.0,31.482400,32.249506,4.116045
6424,Heavily indebted poor countries (HIPC),2012,38.366140,10.661019,5.194085,59.080577,56.538581,57.777390,2.714024,638737676.0,...,39.072643,0.243605,7.877416,19752631.0,429969441,2.054541,19765718.5,32.336840,32.684503,4.099480
6425,Heavily indebted poor countries (HIPC),2013,37.924698,10.407943,5.109213,59.585337,56.962692,58.240852,2.698148,655971763.0,...,39.676293,0.253896,8.431096,19754076.0,438680058,2.025869,19767153.5,33.206907,33.125161,4.082743

In [23]:
header = list(global_development.columns)
global_development = global_development[header[:12]]

In [24]:
global_development

,Country,Year,Data.Health.Birth Rate,Data.Health.Death Rate,Data.Health.Fertility Rate,"Data.Health.Life Expectancy at Birth, Female","Data.Health.Life Expectancy at Birth, Male","Data.Health.Life Expectancy at Birth, Total",Data.Health.Population Growth,Data.Health.Total Population,Data.Infrastructure.Mobile Cellular Subscriptions,Data.Infrastructure.Mobile Cellular Subscriptions per 100 People
0,Canada,1980,15.400000,7.000000,1.754000,78.590000,71.320000,74.866341,0.997669,24277000.0,0.0,0.000000
1,Canada,1981,15.400000,7.100000,1.740000,78.730000,71.600000,75.078049,1.293245,24593000.0,0.0,0.000000
2,Canada,1982,15.300000,7.000000,1.700000,79.110000,72.020000,75.478537,1.240595,24900000.0,0.0,0.000000
3,Canada,1983,15.100000,7.100000,1.690000,79.230000,72.300000,75.680488,1.205555,25202000.0,0.0,0.000000
4,Canada,1984,15.000000,7.000000,1.680000,79.550000,72.690000,76.036341,1.002812,25456000.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
6421,Heavily indebted poor countries (HIPC),2009,39.694362,11.568275,5.448853,57.314810,55.042182,56.149510,2.755547,589184942.0,147770799.0,24.770483
6422,Heavily indebted poor countries (HIPC),2010,39.249875,11.239563,5.363884,57.941917,55.580622,56.731231,2.742284,605342064.0,189207562.0,30.867486
6423,Heavily indebted poor countries (HIPC),2011,38.807293,10.936774,5.278963,58.533726,56.080300,57.275881,2.728734,621860240.0,235202000.0,37.347868
6424,Heavily indebted poor countries (HIPC),2012,38.366140,10.661019,5.194085,59.080577,56.538581,57.777390,2.714024,638737676.0,293179622.0,45.899848
6425,Heavily indebted poor countries (HIPC),2013,37.924698,10.407943,5.109213,59.585337,56.962692,58.240852,2.698148,655971763.0,341051556.0,51.991804

In [25]:
newDf = global_development.merge(countries, on = 'Country', how = 'left')
newDf

,Country,Year,Data.Health.Birth Rate,Data.Health.Death Rate,Data.Health.Fertility Rate,"Data.Health.Life Expectancy at Birth, Female","Data.Health.Life Expectancy at Birth, Male","Data.Health.Life Expectancy at Birth, Total",Data.Health.Population Growth,Data.Health.Total Population,Data.Infrastructure.Mobile Cellular Subscriptions,Data.Infrastructure.Mobile Cellular Subscriptions per 100 People,geo,World bank region
0,Canada,1980,15.400000,7.000000,1.754000,78.590000,71.320000,74.866341,0.997669,24277000.0,0.0,0.000000,can,North America
1,Canada,1981,15.400000,7.100000,1.740000,78.730000,71.600000,75.078049,1.293245,24593000.0,0.0,0.000000,can,North America
2,Canada,1982,15.300000,7.000000,1.700000,79.110000,72.020000,75.478537,1.240595,24900000.0,0.0,0.000000,can,North America
3,Canada,1983,15.100000,7.100000,1.690000,79.230000,72.300000,75.680488,1.205555,25202000.0,0.0,0.000000,can,North America
4,Canada,1984,15.000000,7.000000,1.680000,79.550000,72.690000,76.036341,1.002812,25456000.0,0.0,0.000000,can,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6421,Heavily indebted poor countries (HIPC),2009,39.694362,11.568275,5.448853,57.314810,55.042182,56.149510,2.755547,589184942.0,147770799.0,24.770483,NaN,NaN
6422,Heavily indebted poor countries (HIPC),2010,39.249875,11.239563,5.363884,57.941917,55.580622,56.731231,2.742284,605342064.0,189207562.0,30.867486,NaN,NaN
6423,Heavily indebted poor countries (HIPC),2011,38.807293,10.936774,5.278963,58.533726,56.080300,57.275881,2.728734,621860240.0,235202000.0,37.347868,NaN,NaN
6424,Heavily indebted poor countries (HIPC),2012,38.366140,10.661019,5.194085,59.080577,56.538581,57.777390,2.714024,638737676.0,293179622.0,45.899848,NaN,NaN
6425,Heavily indebted poor countries (HIPC),2013,37.924698,10.407943,5.109213,59.585337,56.962692,58.240852,2.698148,655971763.0,341051556.0,51.991804,NaN,NaN

In [26]:
newDf.dropna(subset=['geo'], inplace=True)
newDf

,Country,Year,Data.Health.Birth Rate,Data.Health.Death Rate,Data.Health.Fertility Rate,"Data.Health.Life Expectancy at Birth, Female","Data.Health.Life Expectancy at Birth, Male","Data.Health.Life Expectancy at Birth, Total",Data.Health.Population Growth,Data.Health.Total Population,Data.Infrastructure.Mobile Cellular Subscriptions,Data.Infrastructure.Mobile Cellular Subscriptions per 100 People,geo,World bank region
0,Canada,1980,15.400,7.000,1.754,78.590,71.320,74.866341,0.997669,24277000.0,0.0,0.000000,can,North America
1,Canada,1981,15.400,7.100,1.740,78.730,71.600,75.078049,1.293245,24593000.0,0.0,0.000000,can,North America
2,Canada,1982,15.300,7.000,1.700,79.110,72.020,75.478537,1.240595,24900000.0,0.0,0.000000,can,North America
3,Canada,1983,15.100,7.100,1.690,79.230,72.300,75.680488,1.205555,25202000.0,0.0,0.000000,can,North America
4,Canada,1984,15.000,7.000,1.680,79.550,72.690,76.036341,1.002812,25456000.0,0.0,0.000000,can,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6387,Botswana,2009,24.753,17.268,2.860,46.004,46.485,46.250366,0.962982,1933719.0,1485791.0,76.835931,bwa,Sub-Saharan Africa
6388,Botswana,2010,24.532,17.354,2.811,45.911,46.671,46.300268,0.926338,1951715.0,1874101.0,96.023292,bwa,Sub-Saharan Africa
6389,Botswana,2011,24.299,17.361,2.761,45.924,46.932,46.440293,0.899050,1969341.0,2363411.0,120.010247,bwa,Sub-Saharan Africa
6390,Botswana,2012,24.055,17.289,2.712,46.041,47.267,46.668951,0.877651,1986701.0,2900263.0,145.983870,bwa,Sub-Saharan Africa
6391,Botswana,2013,23.807,17.145,2.665,46.268,47.679,46.990707,0.862480,2003910.0,3081726.0,153.785649,bwa,Sub-Saharan Africa

In [27]:
gb = newDf.groupby('Country')
df = [gb.get_group(x) for x in gb.groups]

In [54]:
for f in df:
  f.to_csv('/content/drive/MyDrive/DV_CSV/' + str(f.iloc[0,0]) + '.csv', index=None)
  # f.to_csv(str(f['Country'][0])+'.csv')

In [53]:
countries.groupby('World bank region')['Country'].apply(list).to_json()

'{"East Asia & Pacific":["Australia","Brunei","Cambodia","China","Fiji","Hong Kong, China","Indonesia","Japan","Kiribati","North Korea","South Korea","Lao","Malaysia","Marshall Islands","Micronesia, Fed. Sts.","Mongolia","Myanmar","Nauru","New Zealand","Palau","Papua New Guinea","Philippines","Samoa","Singapore","Solomon Islands","Taiwan","Thailand","Timor-Leste","Tonga","Tuvalu","Vanuatu","Vietnam"],"Europe & Central Asia":["Albania","Andorra","Armenia","Austria","Azerbaijan","Belarus","Belgium","Bosnia and Herzegovina","Bulgaria","Croatia","Cyprus","Czech Republic","Denmark","Estonia","Finland","France","Georgia","Germany","Greece","Holy See","Hungary","Iceland","Ireland","Italy","Kazakhstan","Kyrgyz Republic","Latvia","Liechtenstein","Lithuania","Luxembourg","Macedonia, FYR","Moldova","Monaco","Montenegro","Netherlands","Norway","Poland","Portugal","Romania","Russia","San Marino","Serbia","Slovak Republic","Slovenia","Spain","Sweden","Switzerland","Tajikistan","Turkey","Turkmenistan","Ukraine","United Kingdom","Uzbekistan"],"Latin America & Caribbean":["Antigua and Barbuda","Argentina","Bahamas","Barbados","Belize","Bolivia","Brazil","Chile","Colombia","Costa Rica","Cuba","Dominica","Dominican Republic","Ecuador","El Salvador","Grenada","Guatemala","Guyana","Haiti","Honduras","Jamaica","Mexico","Nicaragua","Panama","Paraguay","Peru","St. Kitts and Nevis","St. Lucia","St. Vincent and the Grenadines","Suriname","Trinidad and Tobago","Uruguay","Venezuela"],"Middle East & North Africa":["Algeria","Bahrain","Djibouti","Egypt","Iran","Iraq","Israel","Jordan","Kuwait","Lebanon","Libya","Malta","Morocco","Oman","Qatar","Saudi Arabia","Syria","Tunisia","United Arab Emirates","Palestine","Yemen"],"North America":["Canada","United States"],"South Asia":["Afghanistan","Bangladesh","Bhutan","India","Maldives","Nepal","Pakistan","Sri Lanka"],"Sub-Saharan Africa":["Angola","Benin","Botswana","Burkina Faso","Burundi","Cameroon","Cape Verde","Central African Republic","Chad","Comoros","Congo, Dem. Rep.","Congo, Rep.","Cote d\'Ivoire","Equatorial Guinea","Eritrea","Ethiopia","Gabon","Gambia","Ghana","Guinea","Guinea-Bissau","Kenya","Lesotho","Liberia","Madagascar","Malawi","Mali","Mauritania","Mauritius","Mozambique","Namibia","Niger","Nigeria","Rwanda","Sao Tome and Principe","Senegal","Seychelles","Sierra Leone","Somalia","South Africa","Sudan","Swaziland","Tanzania","Togo","Uganda","Zambia","Zimbabwe","South Sudan"]}'

In [62]:
print(dict(zip(countries['Country'], countries['geo'])))

{'Afghanistan': 'afg', 'Albania': 'alb', 'Algeria': 'dza', 'Andorra': 'and', 'Angola': 'ago', 'Antigua and Barbuda': 'atg', 'Argentina': 'arg', 'Armenia': 'arm', 'Australia': 'aus', 'Austria': 'aut', 'Azerbaijan': 'aze', 'Bahamas': 'bhs', 'Bahrain': 'bhr', 'Bangladesh': 'bgd', 'Barbados': 'brb', 'Belarus': 'blr', 'Belgium': 'bel', 'Belize': 'blz', 'Benin': 'ben', 'Bhutan': 'btn', 'Bolivia': 'bol', 'Bosnia and Herzegovina': 'bih', 'Botswana': 'bwa', 'Brazil': 'bra', 'Brunei': 'brn', 'Bulgaria': 'bgr', 'Burkina Faso': 'bfa', 'Burundi': 'bdi', 'Cambodia': 'khm', 'Cameroon': 'cmr', 'Canada': 'can', 'Cape Verde': 'cpv', 'Central African Republic': 'caf', 'Chad': 'tcd', 'Chile': 'chl', 'China': 'chn', 'Colombia': 'col', 'Comoros': 'com', 'Congo, Dem. Rep.': 'cod', 'Congo, Rep.': 'cog', 'Costa Rica': 'cri', "Cote d'Ivoire": 'civ', 'Croatia': 'hrv', 'Cuba': 'cub', 'Cyprus': 'cyp', 'Czech Republic': 'cze', 'Denmark': 'dnk', 'Djibouti': 'dji', 'Dominica': 'dma', 'Dominican Republic': 'dom', 'Ecuador': 'ecu', 'Egypt': 'egy', 'El Salvador': 'slv', 'Equatorial Guinea': 'gnq', 'Eritrea': 'eri', 'Estonia': 'est', 'Ethiopia': 'eth', 'Fiji': 'fji', 'Finland': 'fin', 'France': 'fra', 'Gabon': 'gab', 'Gambia': 'gmb', 'Georgia': 'geo', 'Germany': 'deu', 'Ghana': 'gha', 'Greece': 'grc', 'Grenada': 'grd', 'Guatemala': 'gtm', 'Guinea': 'gin', 'Guinea-Bissau': 'gnb', 'Guyana': 'guy', 'Haiti': 'hti', 'Holy See': 'hos', 'Honduras': 'hnd', 'Hong Kong, China': 'hkg', 'Hungary': 'hun', 'Iceland': 'isl', 'India': 'ind', 'Indonesia': 'idn', 'Iran': 'irn', 'Iraq': 'irq', 'Ireland': 'irl', 'Israel': 'isr', 'Italy': 'ita', 'Jamaica': 'jam', 'Japan': 'jpn', 'Jordan': 'jor', 'Kazakhstan': 'kaz', 'Kenya': 'ken', 'Kiribati': 'kir', 'North Korea': 'prk', 'South Korea': 'kor', 'Kuwait': 'kwt', 'Kyrgyz Republic': 'kgz', 'Lao': 'lao', 'Latvia': 'lva', 'Lebanon': 'lbn', 'Lesotho': 'lso', 'Liberia': 'lbr', 'Libya': 'lby', 'Liechtenstein': 'lie', 'Lithuania': 'ltu', 'Luxembourg': 'lux', 'Macedonia, FYR': 'mkd', 'Madagascar': 'mdg', 'Malawi': 'mwi', 'Malaysia': 'mys', 'Maldives': 'mdv', 'Mali': 'mli', 'Malta': 'mlt', 'Marshall Islands': 'mhl', 'Mauritania': 'mrt', 'Mauritius': 'mus', 'Mexico': 'mex', 'Micronesia, Fed. Sts.': 'fsm', 'Moldova': 'mda', 'Monaco': 'mco', 'Mongolia': 'mng', 'Montenegro': 'mne', 'Morocco': 'mar', 'Mozambique': 'moz', 'Myanmar': 'mmr', 'Namibia': 'nam', 'Nauru': 'nru', 'Nepal': 'npl', 'Netherlands': 'nld', 'New Zealand': 'nzl', 'Nicaragua': 'nic', 'Niger': 'ner', 'Nigeria': 'nga', 'Norway': 'nor', 'Oman': 'omn', 'Pakistan': 'pak', 'Palau': 'plw', 'Panama': 'pan', 'Papua New Guinea': 'png', 'Paraguay': 'pry', 'Peru': 'per', 'Philippines': 'phl', 'Poland': 'pol', 'Portugal': 'prt', 'Qatar': 'qat', 'Romania': 'rou', 'Russia': 'rus', 'Rwanda': 'rwa', 'St. Kitts and Nevis': 'kna', 'St. Lucia': 'lca', 'St. Vincent and the Grenadines': 'vct', 'Samoa': 'wsm', 'San Marino': 'smr', 'Sao Tome and Principe': 'stp', 'Saudi Arabia': 'sau', 'Senegal': 'sen', 'Serbia': 'srb', 'Seychelles': 'syc', 'Sierra Leone': 'sle', 'Singapore': 'sgp', 'Slovak Republic': 'svk', 'Slovenia': 'svn', 'Solomon Islands': 'slb', 'Somalia': 'som', 'South Africa': 'zaf', 'Spain': 'esp', 'Sri Lanka': 'lka', 'Sudan': 'sdn', 'Suriname': 'sur', 'Swaziland': 'swz', 'Sweden': 'swe', 'Switzerland': 'che', 'Syria': 'syr', 'Taiwan': 'twn', 'Tajikistan': 'tjk', 'Tanzania': 'tza', 'Thailand': 'tha', 'Timor-Leste': 'tls', 'Togo': 'tgo', 'Tonga': 'ton', 'Trinidad and Tobago': 'tto', 'Tunisia': 'tun', 'Turkey': 'tur', 'Turkmenistan': 'tkm', 'Tuvalu': 'tuv', 'Uganda': 'uga', 'Ukraine': 'ukr', 'United Arab Emirates': 'are', 'United Kingdom': 'gbr', 'United States': 'usa', 'Uruguay': 'ury', 'Uzbekistan': 'uzb', 'Vanuatu': 'vut', 'Venezuela': 'ven', 'Palestine': 'pse', 'Vietnam': 'vnm', 'Yemen': 'yem', 'Zambia': 'zmb', 'Zimbabwe': 'zwe', 'South Sudan': 'ssd'}